@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif; 
/*	font-family: 'Samarkan Normal'; */
}

#background{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}

#bg-img{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	-webkit-opacity: 0.5;
	-moz-opacity: 0.5;
	opacity: 0.5;
}